<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="console_appender.xml"/>
    <include resource="logging_appender.xml"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="com.boardgo.config.log.OutputLog" additivity="false" level="INFO">
        <appender-ref ref="FILE"/>
    </logger>
</configuration>