files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/application.jar

            # run app
            killall java
            ln -f -s /usr/share/zoneinfo/Asia/Seoul /etc/localtime
            java -Dfile.encoding=UTF-8 -jar $JAR_PATH --spring.profiles.active=prod
